.app{
    min-height: 100vh;
    padding-top: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    gap: 20px;
}

.notice{
    margin-bottom: 15px;
}

.notice p{
    margin: 2px 0;
}
