.app{
    min-height: 100vh;
    padding-top: 50px;
    padding-left: 237px;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    min-width: 1200px;
}

.content{
    display: flex;
    align-items: flex-start;
    gap: 3px;
    width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 0 0 auto;
}

.right{
    flex-shrink: 0;
    margin-left: 6px;
}